::before ::after {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;

}
.logo {
    display: inline-block;
    position: absolute;
    color: red;
    font-size: 55px;
    left: 50px;
    font-weight: bold;
    
}
.logo:hover {
    color: red;
}
.signin{
    display: inline-block;
    position: absolute;
    color: white;
    background-color: red ;
    border: none;
    border: radius 10px; ;
    right:  -180px;
    margin: 50px;
    width: 100px
}
.center-text {
    display: inline-block;
    position: relative;
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    top: -700px;
    right: -590px;
    font-size: 70px ;
    width: 800px;


}
.watchandcancel {
    display: inline-block;
    position: relative;
    color: white;
    top: -700px;
    left: 790px;
    font-size:  30px; 


}
.readytowatch {
    display: inline-block;
    position: relative;
    bottom: 500px;
    color: #fff;

}
